# Python
**__pycache__**/
*.py[cod]
*.pyo
*.so
*.egg-info/
.eggs/
venv/
.env
*.env
.envrc

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS Files
.DS_Store
Thumbs.db
